
<div class="wrapper">
<div class="home-banner"><div class="overlay">
  <h1 class=home-title> CV Mixology </h1>
  <div class="btn btn-success btn-lg"><%= link_to "Start now", cocktails_path %></div>
</div>

</div>
</div>
