
<div class = "new-banner"></div>

<div class = "container">
  <br>
  <br>
  <div class = "row">
    <div class= "col-xs-12 col-sm-6 col-sm-offset-3">
  <%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name,
    placeholder: "E.g. Long Island Ice Tea",
    label: "Please type your cocktail name" %>
    <%= f.submit %>
  <% end %>
    </div>
    </div>
  </div>
</div>
