_show.scss

a {
  color: $red;
  opacity: 0.8;
}

a:hover {
  text-decoration: none;
  opacity: 1;
}

body {
  color: $red;
  background-color: rgb(235,235,235);
}

.frame2 {
  padding: 20px 95px;
  background-color: rgba(245,245,245, 0.5);
  border-left: 0.5px solid $red;
  border-right: 0.5px solid $red;
  display: flex;
  justify-content: space-between;

.cocktail-info h4 {
  font-size: 28px;
  margin: 0px;
}
}

.cocktail-info p {
  font-size: 24px;
}

.cocktail-info {
  padding: 15px;
}

.recipe {
  padding: 15px;
}

.recipe li {
  color: rgb(5,5,5);
}

// .container {
//   display: flex;
//   justify-content: space-around;
// }

.show-photo {
  height: 400px;
  width: 400px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 15px;
  border-radius: 30px;
}
