.home-banner {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%), url('https://images.pexels.com/photos/1536900/pexels-photo-1536900.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  background-position: center;
  position: relative;
  padding :0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
